.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.6rem;
  padding: 1rem;
  max-width: 100rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding: 1.6rem;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  display: flex;
}

.name {
  font-size: 1.1rem;
  font-weight: 700;
  color: #404041;
  text-align: center;
  line-height: 1.8rem;
}

@media (max-width: 768px) {
  .card {
    height: 14rem;
    width: 10rem;
    font-size: 1.4rem;
    gap: 0.6rem;
  }

  .name {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
